.board {
  width: calc(100% - 300px);
}

.board-header {
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.board-header-left {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 10px 5%;
}

.board-header-name {
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}

.board-header-edit {
  margin: 0;
  margin-left: 12px;
  font-size: 1em;
  cursor: pointer;
  transition: 0.5s;
}

.board-header-edit:hover {
  color: #e86a3d;
}

.board-header-avatar {
  margin: 10px 5% 10px auto
}
