.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ededed;
  min-width: 1370px;
}

.header-icon {
  width: 25px;
  margin: 10px;
  margin-left: 40px;
}
.header-name {
  margin: 10px;
  font-size: 1.5em;
  font-weight: 400;
}

.header-buttons {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  margin-right: 40px;
}

.add-project-button {
  height: 40px;
  line-height: 40px;
  background-color: #ebf1f1;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  outline: none;
  text-align: center;
  margin: 0;
  margin-left: auto;
  margin-right: 20px;
  padding: 0 20px;
}

.add-project-button:hover {
  background-color: #dfe2e2;
}


.info-button {
  margin: 10px 20px;
  font-size: 1.5em;
  cursor: pointer;
  transition: 0.5s;
}


.info-button:hover {
  color: #bfbfbf;
}

.user {
  margin: 10px 20px;
}